//-
	A very simple module to demonstrate the purpose of different pug files. Because Front End Starter Kit is the name of this project, it is likely that it would be included on every page as the header, kind of how a company logo would. Therefore we create a seperate file which includes only the header, so it can be loaded into each pages content block using:
	
	include modules/header.pug

h1 Front End Starter Kit
