//- 
	Here is an example of a page of your website, namely the index page. Within this page you will inherit the exsisting layout.pug file and extend it with actual content that will be loaded when the index.pug is requested.
	
extends layout.pug

//-
	Here you could use block append styles and include another css file which has styles that are specifically defined to style the index page, although this isn't likely.

block content
	span(class='plane one fa fa-paper-plane fa-5x')
	span(class='plane two fa fa-paper-plane fa-5x')
	span(class='plane three fa fa-paper-plane fa-5x')

	.page-container
		.box
			.overlay
		
				//- 
					Here is some content defined to fill out the content block on the layout.pug page. For reusable components you can create a module inside the /modules directory which can be included inside block content as below. Otherwise for content that is specifically for this page, simply hardcode it!
		
				include modules/header.pug
				.page-content
					h2 
						| A starter kit to help you get your next client-side project 
						| off the ground!
					br
					p
						| I hope you find this starterkit of use to you 
						| when developing front-end applications! 
						| If you have any queries, feel free to submit a pull
						| request with changes for me to review. Alternatively,
						| click the button below to send me an email, and i'll
						| get back to you asap :).
					br
					.email-btn-container
						a.btn(href='mailto:matthew678532@gmail.com', target='_top') Email
			
	
//- 
	A good example for appending scripts which is more likely, is the use of google maps services when implementing a map on your website. It is likely that an interactive google map will only be implemented on a single page, such as a contact us page, therefore you could do something like this:
	
	block append scripts
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=APIKEY=genMap")
		
	Which will append this script to the page when loading.
