/*
	Our module files will include individual component styles that are reused multiple times through the website. This might be a header, the main body of content, a navigation bar, etc.

	I have included some simple modules to help you get an idea of the sorts of styles you may find wrapped up within a module, enjoy! */

#page-header
	text-align: left
	padding: 2rem

	.large
		font-size: 3rem

@media screen and ($tablet-portrait)
	#page-header
		text-align: center

		.large
			font-size: 4rem

@media screen and ($desktop)
	#page-header
		.large
			font-size: 5rem
